$duration: 0.23s;

.searchPage {
	width: 100vw; height: 100vh;
	background-color: var(--accent);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all $duration ease-out;

	> .searchModal {
		width: 80px; height: 80px;
		background-color: #fff;
		border-radius: 40px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: all $duration ease-out;

		&:hover {
			transform: scale(1.05);
		}

		> .search {
			position: relative;
			width: 100%; height: 80px; min-height: 80px;
			display: flex;
			align-items: center;
			border-radius: 40px;
			transition: all $duration ease-out;

			::placeholder {
				color: var(--accent);
			}

			> .field {
				width: 100%; height: 100%;
				border: none; outline: none;
				padding: 0 60px;
				font-size: 1.8rem;
				text-align: center;
				box-sizing: border-box;
				font-family: 'Quicksand', sans-serif;
				color: #555;
				background-color: transparent;
				z-index: 2;				
			}
			> .icon {
				position: absolute;
				width: 30px; height: 30px;
				right: 24px;
				stroke: var(--accent);
				transition: stroke $duration ease-out;
			}
		}

		> .results {
			position: relative;
			width: 100%;
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px 0;
			overflow-x: hidden;
			overflow-y: scroll;

			> .loadMore {
				margin-top: 20px;
				> .loader {
					width: 40px; height: 40px;
				}
			}
		}
	}

	> .loader {
		position: absolute !important;
		border-color: #fff !important;
	}

	&.loaded {
		> .searchModal {
			width: 70vw;
		}
	}
	&.searched {
		background-color: #fff;
		
		> .searchModal {
			width: 100vw; height: 100vh;
			border-radius: 0px;

			&:hover {
				transform: scale(1);
			}

			> .search {
				width: 100%; height: 60px;
				background-color: var(--accent);
				border-radius: 0px;

				> .field {
					color: #fff;
				}
				> .icon {
					stroke: #fff;
				}
			}
		}
	}
}

.loader {
	display: block;
	width: 100px; height: 100px;
	border: 3px solid var(--accent);
	border-radius: 999px;
	border-top: 0;
	border-bottom: 0;
	animation: spin 0.5s linear infinite;
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}